{% extends "booking/site_page.html" %}
{% block title %}
    <title>Papa Joe's Table Bookings - Edit Booking</title>
{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/contacts">Contact Us</a>
    </li>
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div>
            <p>
                <label for="id_date">Date: </label>
                <input type="date" name="date_name" id="id_date" required>
            </p>
        </div>
        <div>
            <p>
                <label for="id_size">Table Size: </label>
                <select name="size_name" id="id_size" required>
                    <option value="Small">Small [2-4]</option>
                    <option value="Medium">Medium [4-6]</option>
                    <option value="Large">Large [6-10]</option>
                    <option value="Grand">Grand [10-14]</option>
                </select>
            </p>
        </div>
        <div>
            <p>                
                <label for="id_time">Time: </label>
                <select name="time_name" id="id_time" required>
                    {% for timeslot in timeslots %}
                        <option value="{{ timeslot }}">{{ timeslot }}</option>
                    {% endfor %}
                </select>
            </p>
        </div>
        <div>
            <p>
                <button type="submit">Update Booking</button>
            </p>
        </div>
    </form>
{% endblock %}