{% extends "booking/site_page.html" %}
{% block content %}
    {% if user.is_authenticated %}

        <table>
            <tr>
                <td>Date</td>
                <td>Timeslot</td>
                <td>Date</td>
            </tr>
            {% for booking in bookings %}
                {% if user == booking.user %}
                <tr>
                    <td>{{booking.date}}</td>
                    <td>{{booking.timeslot}}</td>
                    <td>{{booking.table.category}}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        <button type="button"><a href="/booking">Make a new booking</a></button>
    {% else %}
    {% endif %}
{% endblock %}